.mainresult{
    text-align: center;
    padding: 50px;
    padding-top: 0px;
    width: 45rem;
    margin-left: auto;
    margin-right: auto;
    background: rgba(238, 78, 52, 0.4);
    height: 20rem;
    border-radius: 2rem;
}

.exten{
    clear: both;
    margin-top: 20px;
    font-family: DOSGothic;
    color: honeydew;
    font-weight: bold;

}

.topname {
    text-align: left;
    font-size: 35px;
    font-family: DOSGothic;
    color:honeydew;
}

.videoImg{
    text-align: left;
    width: 45rem;
}

.gameimg{
    float:left;
    width:215px;
    height:100px;
}

.gameimg2{
    width: 14rem;
}
.videoSrc{
    float: right;
    width:30rem;

}
.resultbuttonout{
    padding: 20px;
    clear: both;
}
.resultbutton{
    text-align: center; width: 18rem; height: 4rem; border:1px solid rgba(238, 118, 118);
    display: block; margin-right: auto; margin-left: auto;
    overflow: hidden; font-family: DOSGothic; border-radius:25px;}

.resultbutton a{font-size: 1.5rem; color:rgba(238, 118, 118 ); text-decoration: none; line-height:60px; z-index:2;
    position:relative; transition:all .5s ease; display: block;
}
.resulteffect{
    width: 18rem; height: 4rem; background:rgba(238, 78, 52, 0.4); position:absolute;
    z-index: 1; transition:all .5s ease; display: none; border-radius:25px;
    font-family: DOSGothic
}
.resultbutton:hover .resulteffect{
    display: block;
}
.resultbutton:hover a{
    color:#FCEDDA;}

.chuchun {
    text-align: center;
    font-size: 35px;
    font-family: DOSGothic;
}
@font-face {
    font-family: 'LeferiBaseType-BoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-BoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.share{
    text-align: center;
    padding: 20px;
}
.shares{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
