.mainresult{
    text-align: center;
    padding: 50px;
    padding-top: 0px;
    width: 45rem;
    margin-left: auto;
    margin-right: auto;
}

.topname {
    text-align: left;
    font-size: 35px;
    font-family: DOSGothic;
}

.videoImg{
    text-align: left;
    width: 45rem;
}

.gameimg{
    float:left;
    width:215px;
    height:100px;
}

.gameimg2{
    width: 14rem;
}
.videoSrc{
    float: right;
    width:30rem;

}

.chuchun {
    text-align: center;
    font-size: 35px;
    font-family: DOSGothic;
}
@font-face {
    font-family: 'LeferiBaseType-BoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-BoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
