/* 백그라운드 */
* { outline: 0; margin: 0; padding: 0; }

html { width: 100%; height: 100%; }

body { width: 100%; height: 100%; background: #FCEDDA; }

canvas { width: 100%; height: 100%; position: fixed; top: 0; z-index: -4; }

/* 레이아웃 */
#header {}

/* 컨테이너 */
/*.container {width: 100%; margin: 0 auto; background: rgba(0,0,0,0.3)}*/

/*미디어*/
@media (max-width: 576px) {
    
}

@media (max-width: 768px) {

}

@media (max-width: 960px) {

}

@media (max-width: 1024px) {

}

/* 헤더 */
#header {margin: 4em auto;}
.header_object {text-align: center}
.header_object h1 {font-family:'MaplestoryOTFBold';margin: 50px; color: rgba( 238, 78, 52, 0.2 ); font-size: 50px; position: relative; -webkit-text-stroke: 0.1vw #EE4E34;}
.header_object span {
    color:rgba(238, 118, 118, 1 );
    position: relative;
    font-size: 6rem;
    font-weight: 700;
    text-shadow:
            0.05em 0 0 rgba(255,0,0,0.75),
            -0.025em -0.05em 0 rgba(0,255,0,0.75),
            0.025em 0.05em 0 rgba(0,0,255,0.75);

    animation: glitch 500ms infinite;
}
/*폰트*/
@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 메인 */
#main {height: 100%}
#main2 {height: 100%}
.container2{text-align:center; padding-top: 25px}
.main {width: 25rem; background: rgba(238, 78, 52, 0.4); font-size: 1.3rem; word-spacing: 0.2rem;
    border-radius: 40px; margin-right: auto; margin-left: auto; display:flex;
    padding: 3rem; color: white; display: block; font-family: DOSGothic}
.word1{font-family: DOSGothic; text-align: center; width: 100%; font-size: 1.5rem; color: #DCE2F0;}
.form-group{text-align: center; width: 100%; margin: 30px; float: right;}
.hello_word{text-align: center; width: 100%;}
.main2 {
    border:2px solid deepskyblue; width: 8rem; background: rgb(255,255,255,0.6); font-size: 1.3rem; word-spacing: 0.2rem;
    border-radius: 40px;; display: inline-block; margin: 0 10px; text-align: center;
    padding: 2rem; color: deepskyblue; margin: -2.9px; font-family: DOSGothic; margin-right: 25px}
.main2:first-child{
    border: 2px solid red; color:red;
}
.main2:first-child:hover{
    background: rgba(255,0,0,0.4); color: white; border: 2px solid #FCEDDA;
}
.main2:nth-child(2){
    border: 2px solid #FFD400; color:#FFD400
}
.main2:nth-child(2):hover{
    background: rgba(255,212,0,0.4); color: white; border: 2px solid #FCEDDA;
}
.main2:last-child{
    border: 2px solid green; color:green;
}
.main2:last-child:hover{
    background: rgba(0,128,0,0.4); color: white; border: 2px solid #FCEDDA;
}
.word1{font-family: DOSGothic; text-align: center; width: 100%; font-size: 1.5rem; color: rgba(142,142,142);}
.form-group{text-align: center; width: 100%; margin: 30px; clear: both; bottom: 30px}
.hello_word{text-align: center; width: 100%;}

.form-group label{font-size: 1.5rem; color: white;}
.form-group input[type="text"]{border: 1px solid #999; width: 18rem; height: 4rem;
    border-radius: 40px; padding-left: 2rem; outline-style: none; -webkit-appearance: none;
}
.form-group input::placeholder{
    font-size: 1.2rem;
}

.main-check {
    width: 45rem; margin-left: auto; margin-right: auto;
}
.main-check-number{
    position: relative; left: -3rem; top: 3rem; font-size: 2.5rem; color: #EE4E34; font-weight: bold;
}
.main-check-box{
    display: inline;
}
#main-chk .main-check-question {
    text-align: center; font-size: 2rem; color: #EE4E34; background: rgba(255, 255, 255); padding: 2rem;
    width: 40rem; margin-right: auto; margin-left: auto; border: 2px solid #EE4E34
}
#main-chk .main-check-question {
    text-align: center; font-size: 2rem; color: #EE4E34; background: rgba(255, 255, 255); padding: 2rem;
    width: 40rem; margin-right: auto; margin-left: auto; border: 2px solid #EE4E34
}

#main-chk .main-check-box {
    display: flex; justify-content: space-between; text-align: center; margin: 1.3rem; margin: auto; width: 40rem;
    padding: 2rem; font-size: 1.5rem;

}

#main-chk .main-check-box .main-check-box-matter {
    width: 15rem;
}

#main-chk .main-check-box input {
    accent-color: #EE4E34; width: 23px; height: 23px; cursor: pointer;
}
/*버튼*/
#main-chk .main-button {
    background: none;   border: 3px solid #fff; border-radius: 5px; color: #fff;
    font-size: 1.6em;   font-weight: bold;  margin: 1em auto; cursor: pointer;
    padding: 0.5em 1em; position: relative; left: 70%; z-index: 1; overflow: hidden;
}
#main-chk .main-button::before{
    content: ""; position: absolute; height: 100%; width: 101%;
    background: white; top: 0; left: -101%; transition: all 0.4s; z-index: -1;
}
#main-chk .main-button:hover::before {
    transform: translateX(100%);
}
#main-chk .main-button:hover{
    color: #333D79;
}

/*버 튼*/
.form-group .btn_submit{
    background: none;   border: 3px solid #fff; border-radius: 5px; color: #fff;
    font-size: 1.6em;   font-weight: bold;  margin: 1em auto; cursor: pointer;
    padding: 0.5em 1em; position: relative; transition: all 0.4s; overflow: hidden; z-index: 1;
}
.form-group .btn_submit::before{
    content: ""; position: absolute; height: 100%; width: 100%;
    background: white; top: 100%; left: 0; transition: all 0.4s; z-index: -1;
}

.form-group .btn_submit:hover::before {
    transform: translateY(-100%);
}

.form-group .btn_submit:hover{
    color: #333D79;
}


.button{text-align: center; width: 18rem; height: 4rem; border: 1px solid #FAEBEF;
    display: block; margin-right: auto; margin-left: auto; overflow: hidden; font-family: DOSGothic;}
.button a{font-size: 1.5rem; color:#ffffff; text-decoration: none; line-height:60px; z-index:2;
    position:relative; transition:all .5s ease; display: block;
}
.effect{
    width: 18.2rem; height: 4rem; background:rgba(238, 78, 52, 0.4); position:absolute;
    z-index: 1; transition:all .5s ease; display: none;
    font-family: DOSGothic
}
.button:hover .effect{
    display: block;
}
.button:hover a{
    color:#FCEDDA;
}
.main-check{
    font-family: NeoDunggeunmo;
}
/* 푸터 */

.footer {font-family: DOSGothic; color:white; text-align: center; width: 100%;}
#footer {text-align: center; position: relative; transform: translateY(-100%);}
#footer-chk {text-align: center; width: 100%; margin: 0 auto; background: rgba(0,0,0,0.3)}
#footer .container {width: 100%; margin: 0 auto; background: rgba(0,0,0,0.3)}
