<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이 겜 해봤음?</title>

    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>


        <header id="header">
            <div id="container">
                <div class="header_object">
                    <h1>이 겜 해봤음?</h1>
                </div>
            </div>
        </header>
        <!-- header -->

        <main id="main">
            <form action="/check" method="post">
                <div class="form-group">
                    <label for="name">이름</label>
                    <input type="text" id="name" name="name" placeholder="이름을 입력해주세요"> <button type="submit" class="btn_submit">등록</button>
                </div>
            </form>
        </main>





        <footer id="footer">
            <div class="container">
                <div class="footer">
                        ⓒ 2022.
                    <br>
                        Kim Min Jae and Choi Woo Kyoung
                    <br>
                        All Rights Reserved.
                    <br>
                        E-mail
                    <br>
                        yt90as@gmail.com
                    <br>
                        qksksk5307@gmail.com
                </div>
            </div>
        </footer>
</body>
</html>