<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이 겜 해봤음?</title>

    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>


        <header id="header">
            <div id="container">
                <div class="header_object">
                    <h1>이 겜 해봤음?</h1>
                </div>
            </div>
        </header>
        <!-- header -->

        <main id="main">
            <form action="/result" method="post">
            <div class="main-check" th:each="que : *{question}">
                <div class="main-check-question" th:text="${que.getQuestion()}"></div>
                <div th:each="ans : ${answer}" class="main-check-box">
                    <input type="radio" th:value="${ans.getNumber()}" th:name="${que.getNumber()}" class="main-check-input">
                    <label th:text="${ans.getAnswer()}" class="main-check-label"></label>
                </div>
            </div>
                <button type="submit">입력</button>
            </form>
        </main>





        <footer id="footer">
            <div class="container">
                <div class="footer">
                        ⓒ 2022.
                    <br>
                        Kim Min Jae and Choi Woo Kyoung
                    <br>
                        All Rights Reserved.
                    <br>
                        E-mail
                    <br>
                        yt90as@gmail.com
                    <br>
                        qksksk5307@gmail.com
                </div>
            </div>
        </footer>
</body>
</html>