<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이 겜 해봤음?</title>

    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/css/glitch.css}"/>
</head>
<body>
        <script type="module" th:src="@{/js/app.js}"></script>
        <script type="text/javascript" th:src="@{/js/matter.js}"></script>

        <header id="header">
            <div id="container">
                <div class="header_object">
                    <h1 class="title">이 <span class="title_object">겜</span>해봤음?</h1>
                </div>
            </div>
        </header>
        <!-- header -->

        <main id="main-chk">
            <form id="checkform" method="post" onsubmit="return checkSubmit()">
            <div class="main-check" th:each="que : *{question}">
                <div class="main-check-number" th:text="${que.getNumber()}"></div>
                <div class="main-check-question" th:text="${que.getQuestion()}"></div>
                <div class="main-check-box">
                    <div th:each="ans : ${answer}" class="main-check-box-matter">
                        <input type="radio" th:value="${ans.getNumber()}" th:name="${que.getParameter()}" class="main-check-input" onclick="scrollT()">
                        <span></span>
                        <br>
                        <label th:text="${ans.getAnswer()}" class="main-check-label"></label>
                    </div>
                </div>
            </div>
                <div class="main-check">
                <button type="submit" class="main-button">결과 보기</button>
                </div>
            </form>
        </main>





        <footer id="footer-chk">
            <div class="container">
                <div class="footer">
                        ⓒ 2022.
                    <br>
                        Kim Min Jae and Choi Woo Kyoung
                    <br>
                        All Rights Reserved.
                    <br>
                        E-mail
                    <br>
                        yt90as@gmail.com
                    <br>
                        qksksk5307@gmail.com
                </div>
            </div>
        </footer>
</body>
</html>