<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이 겜 해봤음?</title>

    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>


        <header id="header">
            <div id="container">
                <div class="header_object">
                    <h1>이 겜 해봤음?</h1>
                </div>
            </div>
        </header>
        <!-- header -->

        <main id="main">
            <div class="container">
                <div class="main">
                    성향을 간단하게 테스트 한 이후에
                    <br>
                    당신이 좋아할 게임을 추천해 드릴게요.
                    <br>
                    지금 바로 확인해 보세요
                </div>
            </div>
            <p class="word1">총 20문항, 3분소요</p>
            <br>

            <a class="button" href="/input">테스트 하러 가기</a>

        </main>





        <footer id="footer">
            <div class="container">
                <div class="footer">
                        ⓒ 2022.
                    <br>
                        Kim Min Jae and Choi Woo Kyoung
                    <br>
                        All Rights Reserved.
                    <br>
                        E-mail
                    <br>
                        yt90as@gmail.com
                    <br>
                        qksksk5307@gmail.com
                </div>
            </div>
        </footer>
</body>
</html>