<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이 겜 해봤음?</title>

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/imgs/console.png}">
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/css/glitch.css}"/>
</head>
<body>
        <script type="module" th:src="@{/js/app.js}"></script>
        <script type="text/javascript" th:src="@{/js/matter.js}"></script>

        <header id="header">
            <div id="container">
                <div class="header_object">
                    <h1 class="title">이 <span class="title_object">겜</span>해봤음?</h1>
                </div>
            </div>
        </header>
        <!-- header -->

        <main id="main">
            <div class="container">
                <div class="main">
                    성향을 간단하게 테스트 한 이후
                    <br>
                    당신이 좋아할 게임을 추천해 드릴게요.
                    <br>
                    <br>
                    이름을 입력해 주시겠습니까?
                </div>
            </div>
            <div class="container2">
                <div class="main2">
                    솔직하게<br>
                    답변해줘요!
                </div>
                <div class="main2">
                    총 20문향<br>
                    3분소요
                </div>
                <div class="main2">
                    재미로만<br>
                    봐줘요!
                </div>
            </div>


            <div class="container">
                <form id="nameform" method="post" onsubmit="return inputSubmit()">
                    <div class="form-group">
                        <label for="myname">이름</label>
                        <input type="text" id="myname" name="myname" placeholder="이름을 입력해주세요"> <button type="submit" class="btn_submit">등록</button>
                    </div>
                </form>
            </div> <!-- /container -->

        </main>





        <footer id="footer">
            <div class="container">
                <div class="footer">
                        ⓒ 2022.
                    <br>
                        Kim Min Jae and Choi Woo Kyoung
                    <br>
                        All Rights Reserved.
                    <br>
                        E-mail
                    <br>
                        yt90as@gmail.com
                    <br>
                        qksksk5307@gmail.com
                </div>
            </div>
        </footer>
</body>
</html>